// Green:  #005700
// Light Purple: #8700A6 (135, 0, 166) 
// Dark Purple:  #4b2a85

.calendar .row:last-of-type .sched-header {
    border-bottom: 2px solid #4b2a85;
}
.sched-header {
    border-bottom: 2px solid #4b2a85;
    color: #4b2a85;
}

#header {
    border-bottom: 3px solid #4b2a85;
}

#navbar li.current {
    border-top: 6px solid #4b2a85;
}

.calendar .row.new-week {
    border-top: 1px solid #4b2a85;
}

.calendar .row {
    border-bottom: 1px solid #4b2a85;
}

.row.section {
    /* FIXME TOO */
    background-color: rgba(0, 0, 139, 0.02);
}

a.hw-scrolly.badge {
    border-left: 1px solid #4b2a85;
    border-top: 1px solid #4b2a85;
    border-bottom: 1px solid #4b2a85;
}

.side-arrow:before {
    border-left-color: #4b2a85;
}

a:link, a:visited, h1, h2, h3, h4, h5, .subheader, .calendar .row.green, 
a.hw-scrolly:link, a.hw-scrolly:visited, a.hw-scrolly.badge:hover, .solution:before, .between, .intro-matter {
    color: #4b2a85;
}

.side-arrow.today:before {
    border-left-color: #4b2a85;
}

a.hw-scrolly.today:link, a.hw-scrolly.today:visited, a.hw-scrolly.badge.today:hover {
    color: #4b2a85;
}

a.hw-scrolly.badge.today {
    border-left: 1px solid #4b2a85;
    border-top: 1px solid #4b2a85;
    border-bottom: 1px solid #4b2a85;
}


@media only screen and (max-width: 750px) {
    #header {
        border-bottom-style: none;
    }
    h1.course a {
        border-bottom: 3px solid #4b2a85;
    }
}

.intro-matter {
    color: #4b2a85;
}
