:root {
    --course-theme-color: #005700;
}

.calendar .row:last-of-type .sched-header {
    border-bottom: 2px solid var(--course-theme-color);
}
.sched-header {
    border-bottom: 2px solid var(--course-theme-color);
    color: var(--course-theme-color);
}

#header {
    border-bottom: 3px solid var(--course-theme-color);
}

#navbar li.current {
    border-top: 6px solid var(--course-theme-color);
}

.calendar .row.new-week {
    border-top: 1px solid var(--course-theme-color);
}

.calendar .row {
    border-bottom: 1px solid var(--course-theme-color);
}

.row.section {
    /* FIXME */
    background-color: rgba(0, 0, 139, 0.02);
}

a.hw-scrolly.badge {
    border-left: 1px solid var(--course-theme-color);
    border-top: 1px solid var(--course-theme-color);
    border-bottom: 1px solid var(--course-theme-color);
}

.side-arrow:before {
    border-left-color: var(--course-theme-color);
}

a:link, a:visited, h1, h2, h3, h4, h5, .subheader, .calendar .row.green, 
a.hw-scrolly:link, a.hw-scrolly:visited, a.hw-scrolly.badge:hover, .solution:before, .between, .intro-matter {
    color: var(--course-theme-color);
}

.side-arrow.today:before {
    border-left-color: var(--course-theme-color);
}

a.hw-scrolly.today:link, a.hw-scrolly.today:visited, a.hw-scrolly.badge.today:hover {
    color: var(--course-theme-color);
}

a.hw-scrolly.badge.today {
    border-left: 1px solid var(--course-theme-color);
    border-top: 1px solid var(--course-theme-color);
    border-bottom: 1px solid var(--course-theme-color);
}


@media only screen and (max-width: 750px) {
    #header {
        border-bottom-style: none;
    }
    h1.course a {
        border-bottom: 3px solid var(--course-theme-color);
    }
}

.intro-matter {
    color: var(--course-theme-color);
}
